@model Product
@{
ViewData["Title"] = "Privacy Policy";
}

<form asp-controller="Home" asp-action="Create" method="post" class="form-control" enctype="multipart/form-data">

    <div asp-validation-summary="All"></div>

    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span class="text-danger" asp-validation-for="Price"></span>

    </div>
    <div class="form-group mb-3">
        <label asp-for="Image" class="form-label"></label><br>
        <input type="file" name="imageFile" id="imageFile">
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div class="form-group mb-3">
        <span class="text-danger" asp-validation-for="CategoryId"></span>
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option>Ürün Kategorisi</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>